# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# SQLite (base de datos local)
*.sqlite
*.db

# Entornos
.env
.env.local
.env.*.local

# Logs
logs
*.log
log/

# Sistemas
.DS_Store
Thumbs.db

# Editor/IDE
.vscode/
.idea/
*.swp

# Backups
*.bak
*.tmp

# Dist (por si compilás algo después)
dist/
build/
